.header, .list-menu-float, footer, .cover-block, .status-menu-container,.list-status-title, .list-block .list-unit tbody:first-of-type {display: none !important;}

.list-block .list-unit .list-table .status, 
.list-block .list-unit .list-table .number, 
.list-block .list-unit .list-table .priority, 
.list-block .list-unit .list-table .studio, 
.list-block .list-unit .list-table .licensor,
.list-block .list-unit .list-table .rated,
.list-block .list-unit .list-table .started, 
.list-block .list-unit .list-table .finished,
.list-block .list-unit .list-table .days,
.list-block .list-unit .list-table .airing-started, 
.list-block .list-unit .list-table .airing-finished, 
.list-block .list-unit .list-table .storage, 
.icon-watch {
  display: none !important;
}

.list-block .list-unit .list-table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.list-block .list-unit .list-table-data {
  display: grid;
  grid-template-columns: 6rem 200px 200px;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
    "image title title"
    "image season type"
    "image progress score"
    "image tags tags";
}

.list-block .list-unit .list-table .image {
  grid-area: image;
  padding: 0;
}

img.hover-info.image {
  width: 6rem !important;
  height: auto !important;
  border: none;
}

.list-block .list-unit .list-table .title {
  grid-area: title;
}

.list-block .list-unit .list-table .type {
  grid-area: type;
}

.list-block .list-unit .list-table .score {
  grid-area: score;
}

.list-block .list-unit .list-table .progress {
  grid-area: progress;
}

.list-block .list-unit .list-table .tags {
  grid-area: tags;
}

.list-block .list-unit .list-table .season {
  grid-area: season;
}