.list-unit .list-table {
  display: flex;
  flex-wrap: wrap;
}

.list-table .list-item .status, 
.list-table .list-item .number {
  display: none;
}

.list-table .list-item .image {
  grid-area: anime-image;
}

.list-table .list-item .title {
  grid-area: anime-title;
}

.list-table .list-item .score {
  grid-area: anime-score;
}

.list-table .list-item .type {
  grid-area: anime-type;
}

.list-table .list-item .progress {
  grid-area: anime-progress;
}

.list-unit .list-table .list-item {
  display: grid;
  grid-template-columns: 
    [col-first-line 
     col-1-start] 100px [col-1-end 
     col-2-start] 250px [col-2-end 
     col-last-line];
  grid-template-rows: 
    [row-first-line 
     row-1-start] auto [row-1-end
     row-2-start] auto [row-2-end
     row-3-start] auto [row-3-end
     row-4-start] auto [row-4-end
     row-last-line];
  grid-template-areas: 
    "anime-image anime-title"
    "anime-image anime-score"
    "anime-image anime-type"
    "anime-image anime-progress";
}

