// Variables


//
// Colors
//

$background-color:                               #FFFFFF;
$body_background-color:                          $background-color;

$header-background_color:                        $background-color;

$list-menu-float_color:                          $background-color;

$list-container-background-color:                $background-color;

$footer-block_background-color:                  transparent;


//
// Fonts
//

$font-family_base:                               Roboto, Arial, sans-serif;
$font-size_base:                                 16px;
$font-color_base:                                #111111;
