/*
* CSS style ordered by Mucos. It's just have to looks like X's Natsume Yojinchou's theme, but based on Barakamon.
*/



/*
* GÃ©nÃ©ral
=============================================*/

body {
  background: #FFFFFF !important;;
  font-size: 12px;
}

.header,
.list-menu-float,
.list-container,
footer {
}

/*
* Header
=============================================*/

.header {
	background-color: #444444;
}

/*
* Menu
=============================================*/

.list-menu-float {
}



/*
* List
=============================================*/

.list-container {
}

[src="https://myanimelist.cdn-dena.com/s/common/uploaded_files/1455542413-6b19ce62d01ef05368166ff6db661484.png"] {
  background-color: #FF6347;
}

.status-menu-container {
}

.list-table {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*align-items: stretch;*/
	align-content: center;
	flex-wrap: wrap;
}

.list-table > tbody:nth-of-type(1) {
	width: 100%;
}

.list-item {
	width: 300px;
	height: 150px;
	background-color: #FF6347;
	margin: 6px auto 6px auto;
}

.list-table-data {
	display: flex;
}

.list-table .list-table-data .data {
	border-bottom: none;
}

.list-table .list-table-data .data.status,
.list-table .list-table-data .data.number {
	display: none;
}

/*
* Footer
=============================================*/

footer {
	background-color: #444444;
}

#footer-block {
	background-color: inherit;;
}

#copyright {
	background-color: inherit;
}
      